fastapi
uvicorn
requests
lime
shap
numpy>=1.21,<1.23
scipy
scikit-learn
dice_ml
pandas==1.3.4
python-multipart      # For handling file uploads if needed
typing-extensions     # For FastAPI compatibility
